/* &display=swap */
@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');
@import url(https://fonts.googleapis.com/css?family=Flow+Circular:regular&display=swap);
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */
.novasor {
}
.novasor__container {}
.container {
	max-width:800px;
	margin: 0px auto;
}
.novasor__img {
	margin: 50px 0px 0px 0px;
}
.novasor__text-buttom {
	text-align: right;
	font-style: oblique;
	text-decoration: underline ;
	font-size: px;
	margin: 0px 0px 50px 0px;
	color: rgb(197, 37, 37);
}
.novasor-2022 {
   font-size: 45px;
	margin: 0px 0px 30px 0px;
	text-decoration: overline;
	color: wheat;
	text-shadow: 1px 1px 1px #000;
}
.novasor__text-button p {
  color: rgb(145, 34, 140);

}
.novasor__text-button {
  overflow: auto;
  max-height: 80px;
  box-shadow: 1px 10px 51px  rgb(26, 24, 24), inset 1px -10px 51px  rgb(26, 24, 24);
  border: 5px solid rgba(39, 100, 52, 0.678);
  border-radius: 10px;
  padding: 10px;
  text-decoration: underline;
}

.semester {
}
.semester__container {
  padding: 50px 0px;
}
.semester__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
	text-transform: uppercase;
	color: darkcyan;
	text-decoration: underline;
	outline: 10px dashed rgb(226, 7, 7);
}
.title {
	font-size: 30px;
	line-height: 1.5;
}
.semester__text {
}
.semester__text p {
	padding: 0px 0px 20px 0px;
}
.green{
	text-decoration: line-through;
	color: green;
	text-shadow: 1px 1px 1px rgb(104, 3, 3);
}
.brun{
	text-decoration: underline;
	color: rgb(92, 10, 10);
}
.svart{
	text-decoration: overline;
	color: rgb(49, 42, 42);
	outline: 2px solid #000;
}
.semester__image {

}
.semester__button {
		display: inline-block;
      margin:  50px 0px 0px 290px;
	/* margin: 50px 0px 0px 0px; */
	
}
.buttom-orang {
	outline: 30px solid rgb(199, 124, 26);
	text-align: center;
	display: inline-block;
	border-radius: 1px;
	border: 5px dotted green;
	color: rgb(13, 21, 141);
}
.button__btn-orang {
}
/* ====================================== */
.planera {}
.planera__container {}
.planera__tittle {
	box-shadow: inset 1px 1px 30px 2px rgb(26, 1, 1);
	text-align: center;
	padding: 0px 0px 30px 0px;
}
.planera__text p{
   margin: 30px 0px 30px 0px;
}
.text-blo{
	text-decoration: line-through;
	color: blueviolet;
}
.text-red{
	opacity: 0.2;
	color: red;
}
.text-puppur{
	border: 5px solid rgb(172, 13, 13);
	color: purple;
	border-radius: 9px;
}
.text-blue{
	text-shadow: 1px 1px 1px rgb(31, 126, 18);
	color: burlywood;
	text-transform: uppercase;
}
.planera__title-2 {
	text-align: center;
	margin-bottom: 50px;
	color: lawngreen;
	text-transform: uppercase;
	text-decoration: overline;
}
.cirkel{
	font-size: 50px;
	text-align: center;
	display: inline-block;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	overflow: hidden;
	overflow: auto;
	border: 2px dashed rgb(204, 13, 13);
	margin: 50px;
}
.planera__cirkle-1{
	text-decoration: overline;
	color: rgb(204, 121, 25);
  box-shadow: inset 10px 2px 30px #000,10px 2px 30px #000;
  border: 5px dotted rgb(185, 9, 9);
}
.planera__cirkle-2{
	color: rgb(14, 64, 172);
	box-shadow: inset 10px 2px 30px rgb(31, 109, 15),10px 2px 30px rgb(14, 102, 29);
	border: 6px double rgb(6, 70, 9);	
}
.planera__cirkle-3{
	text-decoration: underline;
	color: rgb(24, 170, 24);
	box-shadow: inset 10px 2px 30px rgb(149, 31, 86),10px 2px 30px rgb(168, 25, 144);
	border: 6px solid rgb(185, 40, 142);		
}
.planera__cirkle-4{
	color: rgb(114, 8, 8);
	text-decoration: line-through;
	box-shadow: inset 10px 2px 30px rgb(11, 12, 88),10px 2px 30px rgb(30, 10, 117);
	border: 6px dashed rgb(10, 24, 105);
}
.planera__link {
	color: red;
	line-height: 176%;
	font-size: 20px;
}
.planera__image {}
.planera__title-3 {
	padding: 50px 0px 50px 0px;
	text-transform: lowercase;
	text-align: right;
	color: lightgreen;
	text-decoration: underline;
}
.planera-text-3 {
	border-radius: 30px;
	box-shadow: inset 10px 2px 30px #000,10px 2px 30px #000;	
	color: yellow;
	display: inline-block;
	border: 20px dotted rgb(223, 11, 11);
	text-decoration: transparent;
	width: 400px;
	height: 200px;
	overflow: hidden;
	overflow: auto;
	margin: 0px 0px 0px 200px;
}
.planera__image-3 {
   padding: 50px 0px 50px 0px;
}
.h2__planera__title-4 {
	padding: 50px 0px;
	outline: 3px dashed;
	color: rgb(25, 52, 88);
}
.planera-text-4 {
	margin-top: 20px;
	color: rgb(92, 10, 10);
	text-transform: uppercase;
	text-decoration: underline;
}
/* ===============figma=============== */
.hey_trenare {
	margin-top: 140px;
}
.hey__container{
	min-height: 100%;
	max-width: 1007px;
	margin: 0px auto;
	text-align: center;
}
.hey__title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 65px;
	line-height: 114%;
}
.hey__sabtitle-sab {
	display: inline-block;
	margin: 0px auto;
	width: 750px;
	text-align: center;
	font-size: 20px;
   line-height: 130%;
   color: #5F5F5F;
	margin-bottom: 224px;
}
.hey__middle {
	text-align: left;
	font-size: 34px;
	line-height: 130%;
	padding: 0px 0px 20px 0px;
	color: #313131;
}
.hey__text {
	text-align: left;
	max-width: 508px;
	font-size: 18px;
	line-height: 130%;
	color: #5F5F5F;
}
.hey__text-buttom {
	text-align: left;
	margin-top: 125px;

}
.text__black {
	font-size: 18px;
   line-height: 130%;
	color: #313131;
	opacity: 0.88;

}
.text__grey {
	font-size: 18px;
   line-height: 130%;
	color: #B8B8B8;
}
.hey__image {
	text-align-last: left;
	margin-top: 60px;
}